<H2 class="text-center">Modifier une mensuration</H2>
<div class="container border" id="editMensuration" style="width: 20%;">
    <form  [formGroup]="editForm" (ngSubmit)="update()">
        <div class="form-group">

          <div class="input-field col s16"  >
           <label for="idUser">Date</label>
            <input type="text" name="" id="date" class="form-control" formControlName="date" data-length="10">
          </div>
          <div class="input-field col s16" >
            <label for="idUser">Valeur</label >
            <input type="text" name="" id="valeur" class="form-control" formControlName="valeur" data-length="10" >
          </div>


          </div>
          <button class="btn btn-success" type="submit">Soumettre</button>
    </form>
    <br>
</div>
{{editForm.value | json}}

