<!-- <ng-container>
  <td *ngFor="let g of gallerie ">
      <ng-container *ngIf="g.utilisateur_id == 1" >
        {{g.gallerie_date}}

        <img src="http://localhost:8087/image/{{g.gallerie_filename}}"  class="img-fluid" style="width: 50px;"alt="">
      </ng-container >
  </td>
</ng-container> -->



<!-- <h1>Gallerie Photo</h1>
<br>
<table id="table_id" class="table " >
    <tbody>
      <div class="responsive " *ngFor="let g of gallerie " >
        <div class="gallery  "  *ngIf="g.utilisateur_id == 1"  >
          <div class="image">
            <img class=img-responsive   src="http://localhost:8087/image/{{g.gallerie_filename}}" >
          </div>

          <div class="desc">{{g.gallerie_date}} </div>
        </div>
      </div>

</tbody> -->





