<div class="container d-flex justify-content-center">
  <div class="mt-5 row justify-content-center">

      <div class="col-5 mb-3">
          <label class="px-4">Select File: </label>
          <input type="file" (change)="selectFile($event)" />
      </div>

      <div class="col-2">
          <button class="btn btn-success btn-lg" (click)="uploadFile()">Upload</button>
      </div>
  </div>
</div>
<!-- <app-list-gallerie></app-list-gallerie> -->

<h1>Gallerie Photo</h1>
<br>
<table id="table_id" class="table " >
    <tbody>
      <div class="responsive " *ngFor="let g of gallerie " >
        <div class="gallery  "  *ngIf="g.utilisateur_id == 1"  >
          <div class="image">
            <img class=img-responsive  src="http://localhost:8087/image/{{g.galleriefilename}}" >
          </div>
          <div class="desc">{{g.gallerie_date}} </div>
        </div>
      </div>




</tbody>


