<br>
<br>
<H2 class="text-center">Modifier un chat</H2>
<div class="container border">
    <form  [formGroup]="form" (ngSubmit)="create()">
        <div class="form-group">
          <div class="input-field col s16">
            <label for="id">entrainement_id</label>
            <input type="text" name="" class="form-control" id="entrainement_id" formControlName="entrainement_id" data-length="10">
          </div>
          <div class="input-field col s16">
           <label for="idUser">entrainement_date</label>
            <input type="text" name="" id="entrainement_date" class="form-control" formControlName="entrainement_date" data-length="10">
          </div>
          <div class="input-field col s16">
            <label for="idUser">entrainement_nom</label>
            <input type="text" name="" id="entrainement_nom" class="form-control" formControlName="entrainement_nom" data-length="10">
          </div>
          <div class="input-field col s16">
            <label for="idUser">entrainement_serie</label>
            <input type="text" name="" id="entrainement_serie" class="form-control" formControlName="entrainement_serie" data-length="10">
          </div>
          <div class="input-field col s16">
            <label for="idUser">entrainement_repetition</label>
            <input type="text" name="" id="entrainement_repetition" class="form-control" formControlName="entrainement_repetition" data-length="10">
          </div>
          <div class="input-field col s16">
            <label for="idUser">entrainement_poids</label>
            <input type="text" name="" id="entrainement_poids" class="form-control" formControlName="entrainement_poids" data-length="10">
          </div>
          <div class="input-field col s16">
            <label for="idUser">entrainement_pause</label>
            <input type="text" name="" id="entrainement_pause" class="form-control" formControlName="entrainement_pause" data-length="10">
          </div>
          <div class="input-field col s16">
            <label for="idUser">entrainement_tempsSeconde</label>
            <input type="text" name="" id="entrainement_tempsSeconde" class="form-control" formControlName="entrainement_tempsSeconde" data-length="10">
          </div>
          <div class="input-field col s16">
            <label for="idUser">entrainement_distance</label>
            <input type="text" name="" id="entrainement_distance" class="form-control" formControlName="entrainement_distance" data-length="10">
          </div>
          <div class="input-field col s16">
            <label for="idUser">exercice_id</label>
            <input type="text" name="" id="exercice_id" class="form-control" formControlName="exercice_id" data-length="10000">
          </div>

          </div>
          <button class="btn btn-success" type="submit">Soumettre</button>
    </form>
    <br>
</div>
{{form.value | json}}
