<br>
<H1 class="text-center">Liste des Muscles</H1>
<a routerLink="/addMuscle" class="btn btn-success waves-effect waves-light btn right orange">Ajouter un entrainement au planning</a>
<br>
<br>
<table id="table_id" class="table ">
    <thead>
        <tr>
          <th class="text-center" >Muscle Nom</th>
          <th class="text-center">Exercice Nom</th>
          <th class="text-center">Serie</th>
          <th class="text-center">Repetition</th>
          <th class="text-center">Poids</th>
          <th class="text-center">Pause</th>
          <th class="text-center">Temps en sec</th>
          <th class="text-center">Distance</th>
        </tr>
    </thead>
    <tbody>
      <!-- <td >
      <ng-container *ngFor="let item of muscles" >
        <tr>
          <td >{{item.muscle_nom}}</td>
        </tr>
      </ng-container>
    </td>
    <td>
      <ng-container *ngFor="let item of exercices"  >
        <tr>
          <td>{{item.exercice_nom}}</td>
        </tr>
      </ng-container>
    </td>
    <td>
      <ng-container *ngFor="let item of entrainements" >
        <tr>
          <td>{{item.entrainement_serie}}</td>
        </tr>
      </ng-container>
    </td>
    <td>
      <ng-container *ngFor="let item of entrainements" >
        <tr>
          <td>{{item.entrainement_repetition}}</td>
        </tr>
      </ng-container>
    </td>
    <td>
      <ng-container *ngFor="let item of entrainements" >
        <tr>
          <td>{{item.entrainement_poids}}</td>
        </tr>
      </ng-container>
    </td>
    <td>
      <ng-container *ngFor="let item of entrainements" >
        <tr>
          <td>{{item.entrainement_pause}}</td>
        </tr>
      </ng-container>
    </td>
    <td>
      <ng-container *ngFor="let item of entrainements" >
        <tr>
          <td>{{item.entrainement_tempsSeconde}}</td>
        </tr>
      </ng-container>
    </td>
    <td>
      <ng-container *ngFor="let item of entrainements" >
        <tr>
          <td >{{item.entrainement_distance}}</td>
        </tr>
      </ng-container>
    </td> -->






       <!-- DEBUT -->


      <!-- <tr>
        <td>
          <select name="muscles" id="muscle-select">
            <option value="">Choose</option>
            <option *ngFor="let item of muscles"  >{{item.muscle_nom}} </option>
          </select>
      </td>
      <td>
    <select name="exercices" id="exercice-select">
      <option value="">Choose</option>
      <option *ngFor="let item of exercices"  >{{item.exercice_nom}}</option>
    </select>
  </td>
  <td>
    <select name="pets" id="pet-select">
      <option value="">Choose</option>
      <option *ngFor="let item of entrainements" >{{item.entrainement_serie}}</option>
    </select>
  </td>
  <td>
    <select name="pets" id="pet-select">
      <option value="">Choose</option>
      <option *ngFor="let item of entrainements" >{{item.entrainement_repetition}}</option>
    </select>
  </td>
  <td>
    <select name="pets" id="pet-select">
      <option value="">Choose</option>
      <option *ngFor="let item of entrainements" >{{item.entrainement_poids}}</option>
    </select>
  </td>
  <td>
    <select name="pets" id="pet-select">
      <option value="">Choose</option>
      <option *ngFor="let item of entrainements" >{{item.entrainement_pause}}</option>
    </select>
  </td>
  <td>
    <select name="pets" id="pet-select">
      <option value="">Choose</option>
      <option *ngFor="let item of entrainements" >{{item.entrainement_tempsSeconde}}</option>
    </select>
  </td>
  <td>
    <select name="pets" id="pet-select">
      <option value="">Choose</option>
      <option *ngFor="let item of entrainements" >{{item.entrainement_distance}}</option>
    </select>
  </td>


    </tr> -->


    <!-- FINNNNN -->

      <!-- <tr class="dropdown-menu">
        <td *ngFor="let item of muscles"  > {{item.muscle_nom}}</td>
        <td *ngFor="let item of exercices" > {{item.exercice_nom}}</td>
        <td *ngFor="let item of entrainements" >{{item.entrainement_serie}}</td>


      </tr> -->
      <tr>
        <td *ngFor="let item of muscles" >{{item.muscle_nom}}</td>

        <td *ngFor="let item of exercices" > {{item.exercice_nom}}</td>

        <td *ngFor="let item of entrainements">{{item.entrainement_serie}}</td>

        <td *ngFor="let item of entrainements">{{item.entrainement_repetition}}</td>

        <td *ngFor="let item of entrainements">{{item.entrainement_poids}}</td>

        <td *ngFor="let item of entrainements">{{item.entrainement_pause}}</td>

        <td *ngFor="let item of entrainements">{{item.entrainement_tempsSeconde}}</td>

        <td *ngFor="let item of entrainements">{{item.entrainement_distance}}</td>






      </tr>
        <!-- <td><a  routerLink='/editMuscle/{{item.muscle_id}}' class="btn btn-warning waves-effect waves-light btn right #e65100 green">Edit</a>
        </td>
        <td><a routerLink='/muscle/{{item.muscle_id}}'
                class="btn btn-danger waves-effect waves-light btn right #e65100 green">Delete</a></td> -->
    <!-- </tr> -->
</tbody>

</table>


