


<!-- Class Timetable Start -->
<div class="container-fluid p-5">
  <div class="mb-5 text-center">
      <h5 class="text-primary text-uppercase">Ton planning</h5>
      <h1 class="display-3 text-uppercase mb-0">Choisis ton entrainement</h1>
      <a routerLink="/addPlanning" class="btn btn-success waves-effect waves-light btn right orange">Ajouter un entrainement</a>
<br>
<br>
  </div>
  <div class="tab-class text-center">
      <ul class="nav nav-pills d-inline-flex justify-content-center bg-dark text-uppercase rounded-pill mb-5">
          <li class="nav-item" >
            <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-1" >Lundi</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-2" >Mardi</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-3" >Mercredi</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-4" >Jeudi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-5" >Vendredi</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-6" >Samedi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link rounded-pill text-white " data-bs-toggle="pill" href="#tab-7" >Dimanche</a>
          </li>
      </ul>
  </div>
</div>

<!-- Class Timetable Start -->
<div class="tab-content ">

  <div id="tab-1" class="tab-pane fade p-0 ">
    <H1 class="text-center">Lundi</H1>
    <table id="table_id" class="table align-middle  table-striped" >
        <thead>
            <tr>
              <th scope="col">Muscle</th>
              <th scope="col">Exercice</th>
              <th scope="col">Serie</th>
              <th scope="col">Répétition</th>
              <th scope="col">Poids</th>
              <th scope="col">Pause</th>
              <th scope="col">Temps</th>
              <th scope="col">Distance</th>
              <th scope="col">Edit</th>
              <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of entrainements">
            <td *ngIf="item.entrainement_jour=='Lundi'">{{item.entrainement_muscle}}</td>
            <td *ngIf="item.entrainement_jour=='Lundi'">{{item.entrainement_exo}}</td>
            <td *ngIf="item.entrainement_jour=='Lundi'">{{item.entrainement_serie}}</td>
            <td *ngIf="item.entrainement_jour=='Lundi'">{{item.entrainement_repetition}}</td>
            <td *ngIf="item.entrainement_jour=='Lundi'">{{item.entrainement_poids}}</td>
            <td *ngIf="item.entrainement_jour=='Lundi'">{{item.entrainement_pause}}</td>
            <td *ngIf="item.entrainement_jour=='Lundi'">{{item.entrainement_tempsSeconde}}</td>
            <td *ngIf="item.entrainement_jour=='Lundi'">{{item.entrainement_distance}}</td>
            <td *ngIf="item.entrainement_jour=='Lundi'">
              <button  type="button" class="btn btn-info btn-sm" routerLink='/editPlanning/{{item.entrainement_id}}' ><i class="fas fa-edit"></i> Edit</button>
            </td>
            <td *ngIf="item.entrainement_jour=='Lundi'">
              <button class="btn btn-danger btn-sm" routerLink='/planning/{{item.entrainement_id}}'><i class="far fa-trash-alt"></i> Remove</button>
            </td>
        </tr>
    </tbody>
    </table>
  </div>

  <div id="tab-2" class="tab-pane fade p-0 ">
    <H1 class="text-center">Lundi</H1>
    <table id="table_id" class="table align-middle  table-striped" >
        <thead>
            <tr>
              <th scope="col">Muscle</th>
              <th scope="col">Exercice</th>
              <th scope="col">Serie</th>
              <th scope="col">Répétition</th>
              <th scope="col">Poids</th>
              <th scope="col">Pause</th>
              <th scope="col">Temps</th>
              <th scope="col">Distance</th>
              <th scope="col">Edit</th>
              <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of entrainements">
            <td *ngIf="item.entrainement_jour=='Mardi'">{{item.entrainement_muscle}}</td>
            <td *ngIf="item.entrainement_jour=='Mardi'">{{item.entrainement_exo}}</td>
            <td *ngIf="item.entrainement_jour=='Mardi'">{{item.entrainement_serie}}</td>
            <td *ngIf="item.entrainement_jour=='Mardi'">{{item.entrainement_repetition}}</td>
            <td *ngIf="item.entrainement_jour=='Mardi'">{{item.entrainement_poids}}</td>
            <td *ngIf="item.entrainement_jour=='Mardi'">{{item.entrainement_pause}}</td>
            <td *ngIf="item.entrainement_jour=='Mardi'">{{item.entrainement_tempsSeconde}}</td>
            <td *ngIf="item.entrainement_jour=='Mardi'">{{item.entrainement_distance}}</td>
            <td *ngIf="item.entrainement_jour=='Mardi'">
              <button  type="button" class="btn btn-info btn-sm" routerLink='/editPlanning/{{item.entrainement_id}}' ><i class="fas fa-edit"></i> Edit</button>
            </td>
            <td *ngIf="item.entrainement_jour=='Mardi'">
              <button class="btn btn-danger btn-sm" routerLink='/planning/{{item.entrainement_id}}'><i class="far fa-trash-alt"></i> Remove</button>
            </td>
        </tr>
    </tbody>
    </table>
  </div>

  <div id="tab-3" class="tab-pane fade p-0 ">
    <H1 class="text-center">Lundi</H1>
    <table id="table_id" class="table align-middle  table-striped" >
        <thead>
            <tr>
              <th scope="col">Muscle</th>
              <th scope="col">Exercice</th>
              <th scope="col">Serie</th>
              <th scope="col">Répétition</th>
              <th scope="col">Poids</th>
              <th scope="col">Pause</th>
              <th scope="col">Temps</th>
              <th scope="col">Distance</th>
              <th scope="col">Edit</th>
              <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of entrainements">
            <td *ngIf="item.entrainement_jour=='Mercredi'">{{item.entrainement_muscle}}</td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">{{item.entrainement_exo}}</td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">{{item.entrainement_serie}}</td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">{{item.entrainement_repetition}}</td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">{{item.entrainement_poids}}</td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">{{item.entrainement_pause}}</td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">{{item.entrainement_tempsSeconde}}</td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">{{item.entrainement_distance}}</td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">
              <button  type="button" class="btn btn-info btn-sm" routerLink='/editPlanning/{{item.entrainement_id}}' ><i class="fas fa-edit"></i> Edit</button>
            </td>
            <td *ngIf="item.entrainement_jour=='Mercredi'">
              <button class="btn btn-danger btn-sm" routerLink='/planning/{{item.entrainement_id}}'><i class="far fa-trash-alt"></i> Remove</button>
            </td>
        </tr>
    </tbody>
    </table>
  </div>



</div>
