<br>
<br>
<ul class="nav nav-tabs justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" >Menu ADMIN</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/abonnement">Abonnement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/entrainement">Entrainement</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/exercice">Exercice</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/gallerie">Gallerie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/mensuration">Mensuration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/muscle">Muscle</a>
  </li>
  <li class="nav-item">
    <a class="nav-link " routerLink="/utilisateur">Utilisateur</a>
  </li>

</ul>
